<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>evee</id>
            <repositories>
                <repository>
                    <id>eveeLocalRepository</id>
                    <name>EVEE local repository</name>
                    <url>file:${project.basedir}\lib</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>evee</activeProfile>
    </activeProfiles>
</settings>
