<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>
<plugin>

    <extension id="eveeProofDetailedProof" point="org.liveontologies.protege.explanation.proof.service">
        <name value="Detailed Proof" />
        <class value="de.tu_dresden.inf.lat.evee.protege.letheProofExtractorBasedProofService.EveeLetheBasedProofService" />
    </extension>

    <extension id="eveeProofPreferencesDetailedProof" point="org.liveontologies.protege.explanation.proof.preferences">
        <label value="Detailed Proof"/>
        <class value="de.tu_dresden.inf.lat.evee.protege.letheProofExtractorBasedProofService.EveeLetheBasedProofPreferences"/>
    </extension>

</plugin>
