<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>
<plugin>

    <extension id="evee.proof.elkDepthOptimized" point="org.liveontologies.protege.explanation.proof.service">
        <name value="ELK Proof, optimized for depth" />
        <class value="de.tu_dresden.inf.lat.evee.protege.elkBasedProofService.EveeElkBasedDepthMinimalProofService"/>
    </extension>
    <extension id="evee.proof.preferences.elkDepthOptimized" point="org.liveontologies.protege.explanation.proof.preferences">
        <label value="ELK Proof, optimized for depth"/>
        <class value="de.tu_dresden.inf.lat.evee.protege.elkBasedProofService.EveeElkBasedDepthMinimalPreferences"/>
    </extension>

    <extension id="evee.proof.elkSizeOptimized" point="org.liveontologies.protege.explanation.proof.service">
        <name value="ELK Proof, optimized for size" />
        <class value="de.tu_dresden.inf.lat.evee.protege.elkBasedProofService.EveeElkBasedSizeMinimalProofService"/>
    </extension>
    <extension id="evee.proof.preferences.elkSizeOptimized" point="org.liveontologies.protege.explanation.proof.preferences">
        <label value="ELK Proof, optimized for size"/>
        <class value="de.tu_dresden.inf.lat.evee.protege.elkBasedProofService.EveeElkBasedSizeMinimalPreferences"/>
    </extension>

    <extension id="evee.proof.elkWeightedSizeOptimized" point="org.liveontologies.protege.explanation.proof.service">
        <name value="ELK Proof, optimized for weighted size" />
        <class value="de.tu_dresden.inf.lat.evee.protege.elkBasedProofService.EveeElkBasedWeightedSizeMinimalProofService"/>
    </extension>
    <extension id="evee.proof.preferences.elkWeightedSizeOptimized" point="org.liveontologies.protege.explanation.proof.preferences">
        <label value="ELK Proof, optimized for weighted size"/>
        <class value="de.tu_dresden.inf.lat.evee.protege.elkBasedProofService.EveeElkBasedWeightedSizeMinimalPreferences"/>
    </extension>

</plugin>
