<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>
<plugin>

<!--    declaring new extension points-->

    <extension-point id="nonEntailment_explanation_service"
                     name="Non-Entailment Explanation Service"
                     schema="schema/de.tu_dresden.inf.lat.evee.nonEntailment_explanation_service.xsd"/>
    <extension-point id="nonEntailment_preferences"
                     name="Non-Entailment Explanation Service Preferences"
                     schema="schema/de.tu_dresden.inf.lat.evee.nonEntailment_preferences.xsd"/>



<!--    Non-Entailment related-->

    <extension id="NonEntailmentExplanationView"
               point="org.protege.editor.core.application.ViewComponent">
        <label value="Non-Entailment Explanation"/>
        <class value="de.tu_dresden.inf.lat.evee.protege.nonEntailment.core.NonEntailmentViewComponent"/>
        <headerColor value="@org.protege.classcolor"/>
        <category value="@org.protege.miscellaneous"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

    <extension id="NonEntailmentExplanationPreferences"
               point="org.protege.editor.core.application.explanationpreferencespanel">
        <label value="Non Entailment"/>
        <class value="de.tu_dresden.inf.lat.evee.protege.nonEntailment.core.preferences.NonEntailmentPreferencesPanel"/>
    </extension>

    <extension id="NonEntailmentGeneralPreferences"
               point="de.tu_dresden.inf.lat.evee.nonEntailment_preferences">
        <label value="General"/>
        <class value="de.tu_dresden.inf.lat.evee.protege.nonEntailment.core.preferences.NonEntailmentGeneralPreferencesUI"/>
    </extension>

<!--    <extension id="NonEntailmentViewComponent"-->
<!--               point="xmlDocuments.NonEntailmentDefaultTab.xml">-->
<!--        <label value="Example View Component"/>-->
<!--        <class value="org.protege.editor.owl.examples.tab.ExampleViewComponent"/>-->
<!--        <category value="@org.protege.ontologycategory"/>-->
<!--    </extension>-->

<!--    <extension id="NonEntailmentDefaultTab"-->
<!--               point="org.protege.editor.core.application.WorkspaceTab">-->
<!--        <label value="Non-Entailment"/>-->
<!--        <class value="org.protege.editor.owl.ui.OWLWorkspaceViewsTab"/>-->
<!--        <index value="Z"/>-->
<!--        <editorKitId value="OWLEditorKit"/>-->
<!--        <defaultViewConfigFileName value="NonEntailmentDefaultTab.xml"/>-->
<!--    </extension>-->


<!--    Proof related-->

    <extension id="eveeProofsTopMenu"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Proofs"/>
        <path value="/SlotG-B"/>
        <editorKitId value="any"/>
    </extension>

    <extension id="eveeProofsSignature"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Manage signature"/>
        <class value="de.tu_dresden.inf.lat.evee.protege.abstractProofService.ui.EveeDynamicProofSignatureSelectionWindow"/>
        <toolTip value="Select known ontology signature"/>
        <path value="${bundleName}.eveeProofsTopMenu/SlotA-A"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

</plugin>