<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>
<plugin>

    <extension id="eveeProofsTopMenu"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Proofs"/>
        <path value="/SlotG-B"/>
        <editorKitId value="any"/>
    </extension>

    <extension id="eveeProofsSignature"
               point="org.protege.editor.core.application.EditorKitMenuAction">
        <name value="Manage signature"/>
        <class value="de.tu_dresden.inf.lat.evee.protege.abstractProofService.ui.EveeDynamicProofSignatureSelectionUI"/>
        <toolTip value="Select known ontology signature"/>
        <path value="${bundleName}.eveeProofsTopMenu/SlotA-A"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>

</plugin>