<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>
<plugin>

    <extension id="ELKCounterexampleGenerationServiceAlpha"
               point="de.tu_dresden.inf.lat.evee.nonEntailment_explanation_service">
        <name value="Canonical Counterexample"/>
        <class value="de.tu_dresden.inf.lat.evee.protege.counterexample.ELKRelevant.ELKCounterexampleGenerationServiceAlpha"/>
    </extension>

    <extension id="ELKCounterexampleGenerationServiceBeta"
               point="de.tu_dresden.inf.lat.evee.nonEntailment_explanation_service">
        <name value="Contrastive Counterexample"/>
        <class value="de.tu_dresden.inf.lat.evee.protege.counterexample.ELKRelevant.ELKCounterexampleGenerationServiceBeta"/>
    </extension>

    <extension id="ELKCounterexampleGenerationServiceDiff"
               point="de.tu_dresden.inf.lat.evee.nonEntailment_explanation_service">
        <name value="Focused Contrastive Counterexample"/>
        <class value="de.tu_dresden.inf.lat.evee.protege.counterexample.ELKRelevant.ELKCounterexampleGenerationServiceDiff"/>
    </extension>

    <extension id="ELKCounterexampleGenerationServiceFlatDiff"
               point="de.tu_dresden.inf.lat.evee.nonEntailment_explanation_service">
        <name value="Flat Contrastive Counterexample"/>
        <class value="de.tu_dresden.inf.lat.evee.protege.counterexample.ELKRelevant.ELKCounterexampleGenerationServiceFlatDiff"/>
    </extension>


</plugin>