<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>
<plugin>

    <extension id="eveeProofPreferencesNemo" point="org.liveontologies.protege.explanation.proof.preferences">
        <label value="NEMO Proof"/>
        <class value="de.tu_dresden.inf.lat.evee.protege.nemoBasedProofService.EveeNemoBasedProofPreferencesUI"/>
    </extension>

    <extension id="eveeProofNemoElk" point="org.liveontologies.protege.explanation.proof.service">
        <name value="NEMO proof, based on ELK" />
        <class value="de.tu_dresden.inf.lat.evee.protege.nemoBasedProofService.EveeNemoBasedElkProofService"/>
    </extension>

    <extension id="eveeProofNemoEnvelope" point="org.liveontologies.protege.explanation.proof.service">
        <name value="NEMO proof, based on ENVELOPE" />
        <class value="de.tu_dresden.inf.lat.evee.protege.nemoBasedProofService.EveeNemoBasedEnvelopeProofService"/>
    </extension>

    <extension id="eveeProofNemoTextbook" point="org.liveontologies.protege.explanation.proof.service">
        <name value="NEMO proof, based on TEXTBOOK" />
        <class value="de.tu_dresden.inf.lat.evee.protege.nemoBasedProofService.EveeNemoBasedTextbookProofService"/>
    </extension>

</plugin>
