<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?>
<plugin>

    <extension id="evee.proof.preferencesUI.lethe" point="org.liveontologies.protege.explanation.proof.preferences">
        <label value="Elimination Proof (LETHE)"/>
        <class value="de.tu_dresden.inf.lat.evee.protege.letheBasedProofService.EveeLetheBasedEliminationPreferencesUI"/>
    </extension>

    <extension id="evee.proof" point="org.liveontologies.protege.explanation.proof.service">
        <name value="Elimination Proof (LETHE)" />
        <class value="de.tu_dresden.inf.lat.evee.protege.letheBasedProofService.EveeLetheBasedHeuristicProofService" />
    </extension>

    <extension id="evee.proof" point="org.liveontologies.protege.explanation.proof.service">
        <name value="Elimination Proof, optimized for size (LETHE)" />
        <class value="de.tu_dresden.inf.lat.evee.protege.letheBasedProofService.EveeLetheBasedSizeMinimalProofService" />
    </extension>

    <extension id="evee.proof" point="org.liveontologies.protege.explanation.proof.service">
        <name value="Elimination Proof, optimized for eliminated names (LETHE)" />
        <class value="de.tu_dresden.inf.lat.evee.protege.letheBasedProofService.EveeLetheBasedSymbolMinimalProofService" />
    </extension>

    <extension id="evee.proof" point="org.liveontologies.protege.explanation.proof.service">
        <name value="Elimination Proof, optimized for weighted size (LETHE)" />
        <class value="de.tu_dresden.inf.lat.evee.protege.letheBasedProofService.EveeLetheBasedWeightedSizeMinimalProofService" />
    </extension>

</plugin>
